@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern {
  --s: 100px; /* control the size */
  --c1: #333333;
  --c2: #ffd133;

  background: radial-gradient(#0000 50%, var(--c1) 52% 55%, var(--c2) 57%) 0 0 /
      var(--s) var(--s),
    repeating-linear-gradient(45deg, var(--c1) 0 25%, var(--c2) 0 50%) 0 0 /
      calc(2 * var(--s)) calc(2 * var(--s));
}

* {
  cursor: none;
}

.custom-gradient {
  background: linear-gradient(130deg, #3e5fb4, #f72487, #f16961, #fffdfa);
  animation: grain 5s ease-in-out infinite;
}
